<img width=248 height=56
src="https://borderlessvpn.io/wp-content/uploads/2018/02/bvpn_logo_text.png" alt="vpn_logo_text" v:shapes="Picture_x0020_2"><![endif]></span><span
				<div class="section mcb-section mcb-section-f77900498"  style="padding-top:0px;padding-bottom:0px;background-color:" ><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap mcb-wrap-886072089 one-second  valign-top clearfix" style=""  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-53cc5ae6e one column_column"><div class="column_attr clearfix" style=""><b><h3>1. Scope of policy</h3></b>
a. The terms apply to all services produced and delivered by Borderless AS. This applies, but is not limited to, the content service or applications that originate from Borderless AS.<br />
b. Users of the Services, regardless of Product, agree to the Terms.<br />
c. The user is responsible for keeping up to date on the terms.<br />
d. Privacy policy  may be changed without notice.<br />
e. Users who do not approve terms must terminate the service immediately.<br />
<br />
<b><h3>2. Website</h3></b>
a. Borderless AS`s website uses Google Analytic to collect and analyze traffic. This is done by using cookies. Google collect information as user-agent, language, where the traffic originate from and referring website.<br />
c. We log by default webserver infomation, like visited sites and ip-addresses <br>
d. When a new customer sign up to the service the customer ip will be stored in the database. This is to ensure fraud.<br>
<br />
<b><h3>3. VPN service</h3></b>
a. We store e-mails, password and subscriber information in our database.<br />
b. We do not store any login data or bandwidth data per customer.  Exceptions may occur, as stated in "Terms and agreement" <br />
<b><h3>4. Payment</h3></b>
a. Borderless AS register paypal email or the last 4 digits in your credit card. This is done since its a requirement by either by Paypal, Inc or Stripe, Inc <br />
b. All payment is done by either by Paypal, Inc, Stripe, Inc or Apple Store<br />
<br /></div></div></div></div><div class="wrap mcb-wrap mcb-wrap-50fb44071 one-second  valign-top clearfix" style=""  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-cdbcd75b2 one column_column"><div class="column_attr clearfix" style=""><b><h3>6. Mailing list</h3></b>
a. When signing up to Borderless AS you accept that we can add you to our mailinglist.<br />
b. Borderless AS uses Mailchimp (The Rocket Science Group) to handle this function. <br/ >
c. Subscribers can anytime unsubscribe from mailing-list. This is done with a link in the email. <br/>
d. Borderless AS will never send advertising. Will only be used to inform about changes in product (e.g new functions in application, or new nodes).<br/>
e. Borderless AS will not share or sell information based on this mailing-list.
<br />
<br>
<b><h3>7. What happens when subscription ends?</h3></b>
a. Borderless AS stores information (e-mail and subscription history) in their database<br />
b. Borderless AS will never share or sell any information.<br>
c. Users have the right to demand to see all information in our database, and to get it removed.<br>
This is done by sending e-mail to support AT borderlessvpn.io<br>
In written to:<br>
Borderless AS<br>
Tangen alle 12A, 4817 His<br>
Norway<br>
<br />
<b><h3>8. Changes in policy</h3></b>
a. This policy can be updated without notifying the customer at any time.<br />
<b><br>
<h3>Third Part Private Policy</h3>
a. <a href="https://mailchimp.com/legal/privacy/">Mailchimp </a><br>
b. <a href="https://stripe.com/privacy-shield-policy">Stripe inc</a><br>
c. <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">Paypal</a><br>
d. <a href="https://www.apple.com/legal/privacy/en-ww/">Apple</a><br>

</div></div></div></div></div></div><div class="section mcb-section mcb-section-2f1c94c5e"  style="padding-top:0px;padding-bottom:0px;background-color:" ><div class="section_wrapper mcb-section-inner"></div></div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
				<div class="section section-page-footer">
					<div class="section_wrapper clearfix">

						<div class="column one page-pager">
													</div>

					</div>
				</div>

			</div>
