
<img width=248 height=56
src="https://borderlessvpn.io/wp-content/uploads/2018/02/bvpn_logo_text.png" alt="vpn_logo_text" v:shapes="Picture_x0020_2"><![endif]></span><span			
				<div class="section mcb-section mcb-section-16b997bcb"  style="padding-top:0px;padding-bottom:0px;background-color:" ><div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap mcb-wrap-46087e1b6 one-second  valign-top clearfix" style=""  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-633a4e347 one column_column"><div class="column_attr clearfix" style=""><b><h3>1. Scope of terms</h3></b>
a. The terms apply to all services manufactured and delivered by Borderless AS. This applies, but is not limited to, the content service or applications that originate from Borderless AS.<br />
b. Users of the Services, regardless of Product, agree to the Terms.<br />
c. The user is responsible for keeping up to date on the terms.<br />
d. Terms and conditions may be changed without notice.<br />
e. Users who do not approve terms must terminate the service immediately.<br />
<br />
<b><h3>2. Registration</h3></b>
a. All users using services or applications from Borderless AS must provide an active and valid email.<br />
b. A valid email is required to access the service.<br />
c. Borderless AS can close, without refunding payment if invalid email is used. An example of this is to use temporary email services to register a new user.<br />
d. Users are responsible the ability to receive email from Borderless AS. Borderless AS accepts no responsibility for e-mail that does not arrive. Example email marked as “spam”<br />
e. The customer may require Borderless AS to delete all known content about the user. This is done on request.<br />
<br />
<b><h3>3. Service</h3></b>
a. The users must use approved and compatible application to access the service. Overview of applications that are compatible will be available at Borderless AS’s website.<br />
b. Users themselves choose which server application should be connected.<br />
c. Users must have access to the Internet to make use of Borderless AS services.<br />
d. The service can not be resold to third-part users.<br />
<br />
<b><h3>4. Responsibility and use of service</h3></b>
a. Borderless AS disclaims the responsibility for how the service is used.<br />
b. All third-part services that become available through Borderless AS’s services require that end-users are allowed to use. Borderless AS is not responsible and does not provide guaranteed availability for use. Example access to video stream services. The user must have a subscription for such services.<br />
c. By using services from Borderless AS, the customer guarantees not to use service for the following:<br />
i. Hat content against race, gender, sexual orientation, region or minorities.<br />
ii. Spread illegal content as sexual content of minors, or others without the consent of the owner.<br />
iii. Access content that is not intended for end users (eg, Hacking).<br />
iv. Send advertising by email, or other services.<br />
v. Spread or download pirated goods.<br />
vi. Other content defined illegally by Norway’s statutes.<br />
<br />
<b><h3>5. Deactivation and deletion of user accounts</h3></b>
a. By breaking these terms, Borderless AS has the right to delete an account for end users without notice, without refunding payment.<br />
b. Borderless AS has the ability to disable users for suspected violation of terms without notice without refunding payment.<br />
<br></div></div></div></div><div class="wrap mcb-wrap mcb-wrap-fd007908f one-second  valign-top clearfix" style=""  ><div class="mcb-wrap-inner"><div class="column mcb-column mcb-item-139483360 one column_column"><div class="column_attr clearfix" style=""><b><h3>6. Availability</h3></b>
a. Borderless AS have network of VPN nodes available to customers. Uptime and response time may vary depending on where the service is located.<br />
b. Borderless AS accepts no responsibility for the availability of third-party services available via VPN nodes.<br />
c. With downtime on a VPN node, end users are responsible for connecting to another VPN node.<br />
d. Borderless AS guarantees uptime of 98% measured over 1 month in the same geographical area. The customer is responsible for contacting Borderless AS to receive a refund for up to 1 month of service. The service is measured from geographically accessible. Downtime can be considered if you do not get a response to the service and / or do not get authenticated.<br />
<br />
<b><h3>7. Payment</h3></b>
a. In order to access the service, the service must be paid in advance via the payment service available on the website.<br />
b. Borderless AS has a 14-day right of return by electronic order under the right of cancellation (https://lovdata.no/dokument/EN/lov/2014-06-20-27). By using the right of cancellation, the customer must contact Borderless AS within 14 days. Should the service be used after day 14, the right of withdrawal will fall on board, regardless of the requirement.<br />
c. Prices is without VAT. Customers from Norway will have to VAT added to the prices that are stated on the website. Customers outside of Norway’s borders do not pay VAT. The customer must indicate what is the home country when ordering. If it is not disclosed, or paypal does not report this information, we assume that the customer originates outside Norway. <br />
d. Offers and reduced prices only apply within the given timeframes and can only be used once per customer.<br />
<br />
<b><h3>8. Technical requirements</h3></b>
a. The customer must have access to the PC, Mac or mobile with permissions to install the required application to access the service.<br />
b. Customer must have access to the Internet with sufficient capacity to use the service.<br />
c. Borderless AS is not responsible for additional costs that may arise from the use of the service (eg Roaming abroad).<br />
<br />
<b><h3>9. Logging of use of service / reporting to third-part.</h3></b>
a. Borderless AS writes no logs about what the user uses the service to. This includes:<br />
i. Traffic of IP packets (IP addresses)<br />
ii. DNS request<br />
iii. Bandwidth Use<br />
b. Borderless AS holds the following information about customer:<br />
i. Valid email address.<br />
ii. Country where the user has a place of residence if this is stated on registration.<br />
c. Borderless AS does not provide information to a third-party customer relationship unless fulfilled:<br />
i. Legal requirements of the Norwegian judicial system on disclosure of customer relations.<br />
ii. Legal requirements from the Norwegian authorities pursuant to the Electronic Communications Act (https://lovdata.no/dokument/EN/lov/2003-07-04-83)<br />
d. Borderless AS has the right to turn on detailed logging in the following scenarios. All logs will be deleted immediately when the following scenario is over.<br />
i. Error in service that involves troubleshooting from Borderless AS employee<br />
ii. Attack or suspect end-user attacks.<br />
iii. Attack or suspect an end user or service attack.<br />
iv. Development or upgrading of services.</div></div></div></div></div></div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
				<div class="section section-page-footer">
					<div class="section_wrapper clearfix">

						<div class="column one page-pager">
													</div>

					</div>
				</div>

			</div>


